    <div class="jumbotron">
      <div class="row">
        <div class="col-lg-12 text-center v-center">
          <h1>Selfie Scope</h1>
          <h2>Using the world’s social media data against you in the name of “safety”.</h2>
        </div> 
      </div>
    </div>

