<div class ="upload" style="margin-left: 350px;">
<form action="/upload" method="post" enctype="multipart/form-data">  
  <label for="file">Select your image:</label>
  <input type="file" name="userimage" id="file"/>
  <button type="submit">Upload</button>
</form>
</div>
