  <div class="container">
      <div class="col-md-2"></div> <!-- for centering -->
          <div class="col-md-8">
        <div class="blog-post">
            <p>
                Thousands of individuals are abducted every year, some of whom will never be seen again. 
                What if more could be done to find them? What if law enforcement had a tool that could 
                exponentially increase the likelihood of of locating a missing person? Selfie Scope is that tool. 
                Leveraging aggregated social media data, our technology scours the internet using facial recognition 
                and AI pattern matching to find your loved ones. With user-provided images and personal information, 
                Selfie Scope can scour the internet 24/7 for the hints that could result in an abductee’s rescue. 
                It’s a true breakthrough in the search for missing persons.

Click ‘Report Missing Person’ above to begin your search. 
            </p>
        </div>
    </div>
    <div class="col-md-2"></div> <!-- for centering -->
  </div> 

    