<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>361 Project B</title>
  <meta name="description" content="361 Project B">
  <meta name="author" content="Micah Grossman">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
  <script type="text/javascript" src="/js/functions.js"></script>
  <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
{{{ body }}}

</body>
</html>
