<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>361 Project B</title>
  <meta name="description" content="361 Project B">
  <meta name="author" content="Micah Grossman">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/functions.js"></script>
</head>

<!--Note: this was the functionality I used to generate a table on page
load for 340 class. It needs to be replaced but may be helpful as a reference. -->
<body onload="buildTable()">
  {{{body}}}
  <div id="theTable">
  </div>

</body>
</html>
