//view for search
 <p>Your search returned 3 results:</p>
 
 <table style = "width: 50%">
  <tr>
    <th>Number</th>
	<th>Source</th>
    <th>Image or Video</th>
    <th>Metadata</th>
	<th>Location</th>
	<th>Date/time of capture</th>
	<th>Link</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
	<td>Smith</td>
	<td>Smith</td>
	<td>Smith</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
	<td>Smith</td>
	<td>Smith</td>
	<td>Smith</td>
  </tr>
    <tr>
	<td>3</td>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
	<td>Smith</td>
	<td>Smith</td>
	<td>Smith</td>
  </tr>

</table> 
